<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624651089110-nniolt0klvh9qjioejmvejplk4begm8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624651089110-nniolt0klvh9qjioejmvejplk4begm8t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjtFhFe0cQqOmy1k4DY6DKk6udhRnRw6k</string>
	<key>GCM_SENDER_ID</key>
	<string>624651089110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porte.DetectTextApp</string>
	<key>PROJECT_ID</key>
	<string>detectiontext-92d18</string>
	<key>STORAGE_BUCKET</key>
	<string>detectiontext-92d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624651089110:ios:663f27dc24126f9fe18577</string>
	<key>DATABASE_URL</key>
	<string>https://detectiontext-92d18.firebaseio.com</string>
</dict>
</plist>